.header-container{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 100px;
    align-items: center;
    position: sticky;
    top: 0;
}
.logo{
    flex: 1;
}
.content{
    display: flex;
    flex: 1;
    align-items: center;
}
.search{
    flex: 6;
}
.cart{
    flex: 1;
}
.user{
    flex: 2;
}
input{
    width: 80%;
    padding: 15px 0;
    border-radius: 50px;
}
.bi{
    font-size: 25px;
}